* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  
  background: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  width: 100%;
  max-width: 380px;
  padding: 20px;
}

.auth-box {
  /* background: white; */
      background: rgb(240, 246, 239);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 12px;
  background: #007BFF;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.switch {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.switch span {
  color: #007BFF;
  cursor: pointer;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}
